// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  padding: 100px;
}

.card {
  border: 100px;
  padding: 30px;
  background-color: lightgrey;
  width: 500px;
  border-radius: 4px;

}
